
body {
  font-family: Arial, Helvetica, sans-serif;
}
.flip-container {
  display: flex;
  gap: 30px;              /* 兩個中間距離 */
  justify-content: center; /* 整組置中 */
}

/* 手機自動改成上下 */
@media (max-width: 768px) {
  .flip-container {
    flex-direction: column;
    align-items: center;
  }
}

/* 圖片滿版 */
.flip-box-front img,
.flip-box-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.flip-box {
  background-color: transparent;
  width: 600px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: rgb(185, 193, 147);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;   /* 文字上下排列 */
  justify-content: center;  /* 垂直置中 */
  align-items: center;      /* 水平置中 */

}



.random-photo-section {
  width: 100%;
  padding: 20px;
  background-color: #d3d5cb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random-photo-section {
  margin-bottom: 0; /* 去掉底部空白 */
}

.latest-section {
  margin-top: 0;    /* 去掉頂部空白 */
}


/* 按鈕樣式 */
.random-photo-section #randomBtn {
  padding: 12px 25px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #adc9c0;
  color: white;
  border: none;
}

/* 照片容器橫向排列 */
.random-photo-section .photo-container {
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;     /* 垂直置中 */
  gap: 15px;
  overflow-x: auto; /* 超出可水平捲動 */
  width: 100%;
  max-width: 100%;
  padding-bottom: 10px;
}

.random-photo-section .photo-container img {
  height: 400px;        /* 固定高度，橫幅感 */
  width: 800px;          /* 寬度自動，保持比例 */
  border-radius: 10px;
  object-fit: cover;   /* 完整顯示，不裁剪 */
  background-color: #b0aeae; /* 可選背景，避免空白顯得怪 */
}




